flows-IWT-2862/Bluemix/Lesson5-TwittterSentiment.flow
[{"id":"d99fadbf.beb3b8","type":"function","z":"e19ec062.4acd5","name":"temp","func":"return {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":283,"y":403,"wires":[["c333468b.76f548"]]},{"id":"c333468b.76f548","type":"switch","z":"e19ec062.4acd5","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"32","vt":"str"},{"t":"gt","v":"32","vt":"str"}],"checkall":"true","outputs":2,"x":443,"y":403,"wires":[["199bd350.0fb425"],["bc665f51.f4a8"]]},{"id":"8cdf6bb5.0fea7","type":"debug","z":"e19ec062.4acd5","name":"cpu status","active":false,"complete":"false","x":783,"y":403,"wires":[]},{"id":"8f35ab21.71ece","type":"debug","z":"e19ec062.4acd5","name":"device data","active":false,"console":"false","complete":"true","x":303,"y":483,"wires":[]},{"id":"199bd350.0fb425","type":"template","z":"e19ec062.4acd5","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":603,"y":383,"wires":[["8cdf6bb5.0fea7"]]},{"id":"bc665f51.f4a8","type":"template","z":"e19ec062.4acd5","name":"danger","template":"Temperature ({{payload}}) critical","x":613,"y":423,"wires":[["8cdf6bb5.0fea7"]]},{"id":"7a6dad69.49a1cc","type":"sentiment","z":"e19ec062.4acd5","name":"","x":453,"y":123,"wires":[["e7f6f2f1.8661e","14c52870.18012"]]},{"id":"14c52870.18012","type":"function","z":"e19ec062.4acd5","name":"Device Payload","func":"// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"sentiment\" : msg.sentiment.score\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":223,"wires":[["9a7cf47.a833788","997f2518.37b1f8"]]},{"id":"e7f6f2f1.8661e","type":"debug","z":"e19ec062.4acd5","name":"","active":true,"console":"false","complete":"sentiment.score","x":673,"y":123,"wires":[]},{"id":"9a7cf47.a833788","type":"debug","z":"e19ec062.4acd5","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":553,"y":283,"wires":[]},{"id":"997f2518.37b1f8","type":"ibmiot out","z":"e19ec062.4acd5","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"51ce741e.83baff","deviceType":"0.16.2","eventCommandType":"tweets","format":"json","data":"msg.payload","qos":0,"name":"Send to IBM IoT Platform","service":"quickstart","x":643,"y":223,"wires":[]},{"id":"2d76a040.d4df58","type":"ibmiot in","z":"e19ec062.4acd5","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"51ce741e.83bacc","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":93,"y":403,"wires":[["d99fadbf.beb3b8","8f35ab21.71ece"]]},{"id":"10eab408.80612c","type":"comment","z":"e19ec062.4acd5","name":"Configure source","info":"","x":93,"y":363,"wires":[]},{"id":"86647e85.245b9","type":"twitter in","z":"e19ec062.4acd5","twitter":"","tags":"#InterConnect","user":"false","name":"","topic":"tweets","inputs":1,"x":83,"y":43,"wires":[["69df9e43.bb68f8","a412be81.4d96a8"]]},{"id":"69df9e43.bb68f8","type":"debug","z":"e19ec062.4acd5","name":"","active":false,"console":"false","complete":"tweet","x":253,"y":43,"wires":[]},{"id":"a412be81.4d96a8","type":"function","z":"e19ec062.4acd5","name":"Extract msg.tweet.text","func":"return {payload:msg.tweet.text};","outputs":1,"noerr":0,"x":253,"y":123,"wires":[["7a6dad69.49a1cc"]]}]
