flows-IWT-2862/Bluemix/Lesson8-Joystick.flow
[{"id":"f09c3912.79c24","type":"ibmiot in","z":"e782af3b.dbaba","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["2f5bad6e.507fa2","84997401.808bd"]]},{"id":"2f5bad6e.507fa2","type":"debug","z":"e782af3b.dbaba","name":"","active":true,"console":"false","complete":"false","x":300,"y":60,"wires":[]},{"id":"84997401.808bd","type":"switch","z":"e782af3b.dbaba","name":"Joystick Detector","property":"payload.d.key","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":170,"y":180,"wires":[["a37c2005.a7f598"],["a37c2005.a7f598"],["a37c2005.a7f598"],["a37c2005.a7f598"],[]]},{"id":"dbdfc1d.9aa7f4","type":"debug","z":"e782af3b.dbaba","name":"","active":true,"console":"false","complete":"false","x":610,"y":120,"wires":[]},{"id":"a37c2005.a7f598","type":"template","z":"e782af3b.dbaba","name":"Format a message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The joystick is {{payload.d.key}} !","x":390,"y":180,"wires":[["dbdfc1d.9aa7f4"]]}]
