flows-IWT-2862/Bluemix/Lesson6-WeatherAlert.flow
[{"id":"d9bd66e3.285f2","type":"inject","z":"e19d02e2.d946c","name":"Query Weather every 5 min","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":true,"x":160,"y":60,"wires":[["76a5a455.938fcc"]]},{"id":"76a5a455.938fcc","type":"weather_insights","z":"e19d02e2.d946c","name":"Get Current Weather","service":"/observations.json","geocode":"40.9793,-74.1165","units":"e","language":"en-US","x":148.888916015625,"y":138.88888549804688,"wires":[["41069637.2ed88","fc00d97c.b391e8","aae68d31.1390f8"]]},{"id":"2e2513c7.51fe6c","type":"ibmiot out","z":"e19d02e2.d946c","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"51ce741e.83baff","deviceType":"0.16.2","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"quickstart","x":780,"y":80,"wires":[]},{"id":"aae68d31.1390f8","type":"debug","z":"e19d02e2.d946c","name":"","active":true,"console":"false","complete":"observation","x":410,"y":200,"wires":[]},{"id":"41069637.2ed88","type":"function","z":"e19d02e2.d946c","name":"Construct IoT MQTT payload","func":"return {\n payload: {\n d: {\n temp: msg.observation.temp\n }\n }\n};","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["6b078910.d14c8","a689b3b8.cdfc2"]]},{"id":"fc00d97c.b391e8","type":"function","z":"e19d02e2.d946c","name":"Temp in Ridgewood","func":"return { payload:'Ridgewood Temp: '+msg.observation.temp+'*F'};","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["a689b3b8.cdfc2"]]},{"id":"a689b3b8.cdfc2","type":"debug","z":"e19d02e2.d946c","name":"","active":true,"console":"false","complete":"false","x":750,"y":140,"wires":[]},{"id":"6b078910.d14c8","type":"json","z":"e19d02e2.d946c","name":"","x":630,"y":80,"wires":[["2e2513c7.51fe6c"]]}]
