flows-IWT-2862/RaspberryPi/Lesson6-WeatherPi.flow
[{"id":"701af45b.31ff94","type":"function","z":"ff5bd3c5.b100a","name":"Format Weather Report","func":"// The following message properties can be used \n// to customise the appearance of the LED\n//  msg.color - the colour of the text, default: white\n//   msg.background - the colour of the background, default: off\n//  msg.speed - the scroll speed. A value in the range 1 (slower) to 5 (faster), default: 3\nmsg.speed = 1;\n\nif (typeof msg.payload.d.temp !== 'undefined') {\n    // the variable is defined\n    msg.payload = 'Temp: '+msg.payload.d.temp+'*F';\n    return msg;\n}\n\n","outputs":"1","noerr":0,"x":230,"y":140,"wires":[["f43540bd.e81c18","76b97ace.183e8c"]]},{"id":"2e14f55f.2c448a","type":"debug","z":"ff5bd3c5.b100a","name":"","active":false,"console":"false","complete":"false","x":410,"y":60,"wires":[]},{"id":"f43540bd.e81c18","type":"rpi-sensehat out","z":"ff5bd3c5.b100a","name":"Display Weather Conditions on SenseHAT LED","x":310,"y":220,"wires":[]},{"id":"76b97ace.183e8c","type":"debug","z":"ff5bd3c5.b100a","name":"","active":true,"console":"false","complete":"false","x":470,"y":140,"wires":[]},{"id":"e1144b21.af58","type":"ibmiot in","z":"ff5bd3c5.b100a","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["2e14f55f.2c448a","701af45b.31ff94"]]}]
