flows-IWT-2862/RaspberryPi/Lesson5-TwitterSentiment.flow
[{"id":"6ddfb3be.ccdafc","type":"debug","z":"ffabd381.53221","name":"","active":true,"console":"false","complete":"payload.d.sentiment","x":390,"y":60,"wires":[]},{"id":"1539d1de.54acf6","type":"switch","z":"ffabd381.53221","name":"Switch on msg.payload.d.sentiment","property":"payload.d.sentiment","propertyType":"msg","rules":[{"t":"null"},{"t":"gt","v":"6","vt":"num"},{"t":"gte","v":"4","vt":"num"},{"t":"gte","v":"2","vt":"num"},{"t":"gte","v":"0","vt":"num"},{"t":"lte","v":"-6","vt":"num"},{"t":"lte","v":"-4","vt":"num"},{"t":"lte","v":"-2","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"false","outputs":9,"x":251,"y":272,"wires":[[],["c59675ac.432c68"],["c196a0e2.0617c"],["24f0a616.471062"],["204d1575.bdff82"],["bd165222.fc79a"],["1d614b26.b1b145"],["50d87bfe.f399ac"],["70127e98.7546"]]},{"id":"c59675ac.432c68","type":"function","z":"ffabd381.53221","name":"Green..","func":"msg.payload = \"*,*,green\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":132,"wires":[["c0fdd8de.00fbb"]]},{"id":"bd165222.fc79a","type":"function","z":"ffabd381.53221","name":"Violet....","func":"msg.payload = \"*,*,violet\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":292,"wires":[["c0fdd8de.00fbb"]]},{"id":"1d614b26.b1b145","type":"function","z":"ffabd381.53221","name":"Red......","func":"msg.payload = \"*,*,red\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":332,"wires":[["c0fdd8de.00fbb"]]},{"id":"50d87bfe.f399ac","type":"function","z":"ffabd381.53221","name":"Orange","func":"msg.payload = \"*,*,orange\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":372,"wires":[["c0fdd8de.00fbb"]]},{"id":"c196a0e2.0617c","type":"function","z":"ffabd381.53221","name":"Blue....","func":"msg.payload = \"*,*,blue\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":172,"wires":[["c0fdd8de.00fbb"]]},{"id":"70127e98.7546","type":"function","z":"ffabd381.53221","name":"Yellow..","func":"msg.payload = \"*,*,yellow\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":412,"wires":[["c0fdd8de.00fbb"]]},{"id":"204d1575.bdff82","type":"function","z":"ffabd381.53221","name":"White...","func":"msg.payload = \"*,*,white\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":252,"wires":[["c0fdd8de.00fbb"]]},{"id":"24f0a616.471062","type":"function","z":"ffabd381.53221","name":"Pink.....","func":"msg.payload = \"*,*,pink\";\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":212,"wires":[["c0fdd8de.00fbb"]]},{"id":"c0fdd8de.00fbb","type":"rpi-sensehat out","z":"ffabd381.53221","name":"","x":771,"y":272,"wires":[]},{"id":"53943d99.70e504","type":"ibmiot in","z":"ffabd381.53221","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":60,"wires":[["6ddfb3be.ccdafc","1539d1de.54acf6"]]}]
