flows-IWT-2862/RaspberryPi/Lesson3-LocalTempAlert.flow
[{"id":"c155b6c1.54a1a","type":"rpi-sensehat in","z":"28988c1c.b2825c","name":"","motion":false,"env":true,"stick":false,"x":130,"y":80,"wires":[["13af10bb.91f03f","f86c2191.cf5258","4a2e6d37.4a79e4"]]},{"id":"88cd7eaf.d7558","type":"wiotp out","z":"28988c1c.b2825c","authType":"d","qs":"true","qsDeviceId":"","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":590,"y":160,"wires":[]},{"id":"13af10bb.91f03f","type":"debug","z":"28988c1c.b2825c","name":"","active":true,"console":"false","complete":"false","x":390,"y":80,"wires":[]},{"id":"f86c2191.cf5258","type":"delay","z":"28988c1c.b2825c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":160,"wires":[["88cd7eaf.d7558"]]},{"id":"4a2e6d37.4a79e4","type":"switch","z":"28988c1c.b2825c","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":370,"y":300,"wires":[["b3686d17.85f048"],["35f050ca.795bf8"]]},{"id":"b3686d17.85f048","type":"function","z":"28988c1c.b2825c","name":"Hot","func":"msg.payload = \"*,*,red\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["6f2f88f0.73d03"]]},{"id":"35f050ca.795bf8","type":"function","z":"28988c1c.b2825c","name":"Cold","func":"msg.payload = \"*,*,green\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["6f2f88f0.73d03"]]},{"id":"6f2f88f0.73d03","type":"rpi-sensehat out","z":"28988c1c.b2825c","name":"","x":650,"y":300,"wires":[]}]
